* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Lato, sans-serif;
	background: linear-gradient(180deg, #ffffff 0%, #f3f8f7 49.91%, #fff9f5 94.19%);
	overflow-x: hidden;
}

.wrapper {
	position: relative;
	width: 1288px;
	height: 4776px;
	/* background: rgb(154, 240, 197); */
	margin: auto;
}
.elli1 {
	position: absolute;
	width: 599px;
	height: 599px;
	margin-left: 20%;
	top: -231px;

	background: rgba(13, 91, 207, 0.541);
	filter: blur(100px);
}

.elli2 {
	position: absolute;
	width: 298px;
	height: 324px;
	left: 65%;
	top: 500px;

	background: rgb(214, 3, 204);
	filter: blur(150px);
}

.elli3 {
	position: absolute;
	width: 404px;
	height: 440px;
	left: 6%;
	top: 223px;

	background: rgb(18, 218, 158);
	filter: blur(100px);
}
.elli4 {
	position: absolute;
	width: 711px;
	height: 2368px;
	left: 273px;
	top: 1046px;

	background: rgb(255, 127, 110);
	filter: blur(200px);
}
.logo {
	position: absolute;
	left: 7px;
	right: 1173px;
	top: 19px;
	bottom: 4706px;
}
.logo img {
	height: 51.02px;
	left: 22.54px;
	top: 0px;
}
.nav {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 402px;
	height: 18px;

	left: 439px;
	top: 50px;
}
.home {
	position: static;
	width: 46px;
	height: 18px;
	padding-left: 0px;
	top: 0px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	text-transform: uppercase;

	color: #000000;
}
.profile {
	position: static;
	width: 61px;
	height: 18px;
	padding-left: 45px;
	top: 0px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	text-transform: uppercase;

	color: #000000;
}
.reports {
	position: static;
	width: 66px;
	height: 18px;
	padding-left: 90px;
	top: 0px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	text-transform: uppercase;

	color: #000000;
}
.insights {
	position: static;
	width: 70px;
	height: 18px;
	padding-left: 135px;
	top: 0px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */

	text-transform: uppercase;

	color: #000000;
}
.button {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 214px;
	height: 31px;
	left: 1030px;
	top: 38px;
}
.button1 {
	position: static;
	width: 84px;
	height: 31px;
	left: 0px;
	top: 0px;
	border: 1px solid #877e7e;
	box-sizing: border-box;
	border-radius: 5px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 14px;

	text-transform: uppercase;
}
.button2 {
	position: static;
	width: 116px;
	height: 31px;
	left: 98px;
	top: 0px;
	border: 1px solid #877e7e;
	box-sizing: border-box;
	border-radius: 5px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */
	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 14px;

	text-transform: uppercase;
}
.text-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	position: absolute;
	width: 523px;
	height: 336px;
	left: 18px;
	top: 114px;
}
.content {
	position: static;
	width: 523px;
	height: 234px;
	left: 0px;
	top: 0px;
	font-weight: normal;
	font-size: 60px;
	line-height: 69px;
	/* or 115% */

	letter-spacing: 0.11em;
	text-transform: capitalize;

	color: #000000;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 4px 0px;
}
.content1 {
	position: static;

	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	/* line-height: 49px; */
	/* or 136% */

	letter-spacing: 0.03em;
	text-transform: capitalize;

	color: #000000;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 30px 0px;
}
.bold {
	position: static;
	margin-top: -100px;
	margin-left: 180px;
	top: 100px;

	font-style: normal;
	font-weight: bold;
	font-size: 60px;

	/* or 115% */

	letter-spacing: 0.11em;
	text-transform: capitalize;

	color: #877e7e;
}
.butt {
	position: absolute;
	width: 150px;
	height: 50px;
	left: 0px;
	top: 350px;

	background: #0051ee;
	border-radius: 5px;
}
.start {
	position: absolute;

	left: 20px;
	top: 4px;

	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 42px;
	/* identical to box height, or 191% */

	text-transform: capitalize;

	color: #ffffff;
}
.ell1 {
	position: absolute;
	width: 558.14px;
	height: 379.79px;
	left: 563.12px;
	top: 150.7px;
	border-radius: 20px;
	background: linear-gradient(143.07deg, #a3e9c8 16.77%, #da92b8 78.54%, #897dfa 78.54%);
}

.house {
	position: absolute;
	width: 590;
	height: 360px;
	left: 10px;
	top: 10px;
	border-radius: 20px;
}
.booklet {
	position: absolute;
	width: 421px;
	height: 238px;
	left: -250px;
	top: 150px;
}
.head1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	text-align: left;
	position: absolute;

	left: 266px;
	top: 612px;
}
.hp1 {
	position: static;
	/* width: 671px; */
	height: 80px;
	left: 0px;
	top: 0px;

	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	text-transform: capitalize;

	color: #000000;
}
.hp2 {
	position: static;
	width: 833px;
	height: 63px;
	left: 0px;
	top: 85px;

	/* font-family: Roboto; */
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	/* or 139% */

	letter-spacing: 0.06em;
	text-transform: lowercase;

	color: #888888;
}
.tittle {
	position: absolute;
	width: 774px;
	height: 126px;
	left: 270px;
	top: 874px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: large;
}

/* box-1 */
.box1 {
	position: absolute;
	width: 1035px;
	height: 494.97px;
	left: 225px;
	top: 1100px;
}
.box1-1 {
	position: absolute;
	width: 469px;
	height: 441px;
	left: 566px;
	top: 0px;
}
.box1-1-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 469px;
	height: 199px;
	left: 0px;
	top: 0px;
}
.b1h2 {
	position: static;
	width: 338px;
	height: 35px;
	left: 0px;
	top: 0px;

	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;

	color: #000000;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 14px 0px;
}
.b1p {
	position: static;
	width: 469px;
	height: 150px;
	left: 0px;
	top: 49px;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* or 161% */

	color: #494747;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 14px 0px;
}
.b1li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;

	position: absolute;
	width: 330px;
	height: 136px;
	left: 8px;
	top: 200px;
	line-height: 30px;
}
.st {
	position: absolute;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 350px;
	border: 1px solid #635c5c;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;

	color: #877e7e;
	text-align: center;
}
.box1-1-2 {
	position: absolute;
	width: 414.54px;
	height: 466.97px;
	left: 0px;
	top: 28px;
}
.ell2 {
	position: absolute;
	width: 414.54px;
	height: 465px;
	left: 0px;
	top: 40;

	background: linear-gradient(152.31deg, #0051ee 17.21%, #bd00ff 84.8%);
	border: 1px solid #2268ef;
}
.img1 {
	position: absolute;
	width: 331.86px;
	height: 339.58px;
	left: 25px;
	top: 65px;
}

/* box-2 */
.box2 {
	position: absolute;
	width: 1108px;
	height: 470px;
	left: 19px;
	top: 1694px;
}
.box2-1 {
	position: absolute;
	width: 469px;
	height: 441px;
	left: 0px;
	top: 0px;
}
.box2-1-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 469px;
	height: 199px;
	left: 0px;
	top: 0px;
}
.b2h2 {
	position: static;
	width: 338px;
	height: 35px;
	left: 0px;
	top: 0px;

	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;

	color: #000000;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 14px 0px;
}
.b2p {
	position: static;
	width: 469px;
	height: 150px;
	left: 0px;
	top: 49px;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* or 161% */

	color: #494747;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 14px 0px;
}
.b2li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	line-height: 30px;
	position: absolute;
	width: 330px;
	height: 136px;
	left: 8px;
	top: 230px;
}
.st1 {
	position: absolute;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 391px;

	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;

	color: #877e7e;
	text-align: center;
}
.box2-1-2 {
	position: absolute;
	width: 470px;
	height: 470px;
	left: 657px;
	top: 0px;
}
.ell3 {
	position: absolute;
	width: 414.54px;
	height: 465px;
	left: 0px;
	top: 0px;
	background: linear-gradient(136.71deg, #e12f8f 44.57%, #5e0434 101.46%);
}
.img-2 {
	position: absolute;
	width: 470px;
	height: 470px;
	left: 0px;
	top: 0px;
}

/* box-3 */
.box3 {
	position: absolute;
	width: 1035px;
	height: 494.97px;
	left: 225px;
	top: 2264px;
}
.box3-1 {
	position: absolute;
	width: 469px;
	height: 441px;
	left: 566px;
	top: 0px;
}
.box3-1-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 469px;
	height: 199px;
	left: 0px;
	top: 0px;
}
.b3h2 {
	position: static;
	width: 338px;
	height: 35px;
	left: 0px;
	top: 0px;

	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;

	color: #000000;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 14px 0px;
}
.b3p {
	position: static;
	width: 469px;
	height: 150px;
	left: 0px;
	top: 49px;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* or 161% */

	color: #494747;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 14px 0px;
}
.b3li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;

	position: absolute;
	width: 330px;
	height: 136px;
	left: 8px;
	top: 200px;
	line-height: 30px;
}
.st2 {
	position: absolute;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 350px;
	border: 1px solid #635c5c;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;

	color: #877e7e;
	text-align: center;
}
.box3-1-2 {
	position: absolute;
	width: 414.54px;
	height: 466.97px;
	left: 0px;
	top: 28px;
}
.ell3 {
	position: absolute;
	width: 414.54px;
	height: 465px;
	left: 0px;
	top: 40;

	background: linear-gradient(152.31deg, #0051ee 17.21%, #bd00ff 84.8%);
	border: 1px solid #2268ef;
}
.img3 {
	position: absolute;
	width: 331.86px;
	height: 339.58px;
	left: 25px;
	top: 65px;
}

/* box-4 */
.box4 {
	position: absolute;
	width: 1108px;
	height: 470px;
	left: 19px;
	top: 2858px;
}
.box4-1 {
	position: absolute;
	width: 469px;
	height: 441px;
	left: 0px;
	top: 0px;
}
.box4-1-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 469px;
	height: 199px;
	left: 0px;
	top: 0px;
}
.b4h2 {
	position: static;
	width: 338px;
	height: 35px;
	left: 0px;
	top: 0px;

	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;

	color: #000000;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 14px 0px;
}
.b4p {
	position: static;
	width: 469px;
	height: 150px;
	left: 0px;
	top: 49px;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* or 161% */

	color: #494747;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 14px 0px;
}
.b4li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	line-height: 30px;
	position: absolute;
	width: 330px;
	height: 136px;
	left: 8px;
	top: 230px;
}
.st3 {
	position: absolute;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 391px;

	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;

	color: #877e7e;
	text-align: center;
}
.box4-1-2 {
	position: absolute;
	width: 470px;
	height: 470px;
	left: 657px;
	top: 0px;
}
.ell4 {
	position: absolute;
	width: 414.54px;
	height: 465px;
	left: 0px;
	bottom: -2850px;
	background: linear-gradient(136.71deg, #e12f8f 44.57%, #5e0434 101.46%);
}
.img-4 {
	position: absolute;
	width: 470px;
	height: 470px;
	left: 0px;
	top: 0px;
}

/* last-box */
.last-box {
	position: absolute;
	width: 1288px;
	height: 1049px;
	left: 0px;
	top: 3393px;

	background: #4c2a29;
}
.last-h1 {
	position: static;
	width: 492px;
	height: 159px;
	margin-left: 30px;
	top: 0px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 45px;
	line-height: 53px;
	font-feature-settings: 'cpsp' on;

	color: #ffffff;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 15px 30px;
}

.last-p1 {
	position: static;
	width: 552px;
	height: 130px;
	left: 0px;
	top: 189px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;

	color: #c6b1b1;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 30px 30px;
}
.last-p2 {
	position: static;
	width: 552px;
	height: 104px;
	left: 0px;
	top: 380px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;

	color: #c6b1b1;

	/* Inside Auto Layout */

	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 30px 30px;
}
.last-img {
	position: absolute;
	width: 424px;
	height: 450px;
	left: 0px;
	top: 600px;
}
.last-rt-box {
	position: absolute;
	width: 822px;
	height: 264px;
	left: 600px;
	top: 4230px;

	color: white;
}
.last-p3 {
	position: absolute;
	width: 822px;
	height: 104px;
	left: 0px;
	top: 60px;

	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 25px;
	/* or 145% */

	letter-spacing: 0.02em;

	color: #c6b1b1;
}
.last-btn {
	position: absolute;
	width: 150px;
	height: 50px;
	left: 0px;
	top: 150px;
	border-radius: 4px;
	box-shadow: 10px black;
	background: #ffffff;
}
.last-bx2 {
	position: absolute;
	width: 500px;
	height: 130px;
	left: 750px;
	top: 3948px;

	background: #407bff;
}
.last-p4 {
	position: absolute;
	width: 500px;
	height: 90px;
	left: 55px;
	top: 10px;

	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 26px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #e5e5e6;
}
.left-box {
	position: absolute;
	width: 299px;
	height: 88px;
	left: -200px;
	top: -400px;
}
.circle-1 {
	position: absolute;
	width: 88px;
	height: 88px;
	left: 8px;
	top: -100px;
	list-style: none;
	background: #340b0a;
	border-radius: 50%;
}
.ico1 {
	position: absolute;
	left: 17%;
	right: 75.59%;
	top: 17%;
	bottom: 20.7%;
	height: 60px;
}
.p1 {
	position: absolute;
	width: 197px;
	height: 52px;
	left: 100px;
	top: 18px;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;

	color: #ffffff;
}
.circle-2 {
	position: absolute;
	width: 88px;
	height: 88px;
	left: 8px;
	top: 50px;
	list-style: none;
	background: #340b0a;
	border-radius: 50%;
}
.ico2 {
	position: absolute;
	left: 17%;
	right: 75.59%;
	top: 17%;
	bottom: 20.7%;
	height: 60px;
}
.p2 {
	position: absolute;
	width: 197px;
	height: 52px;
	left: 100px;
	top: 18px;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;

	color: #ffffff;
}

.circle-3 {
	position: absolute;
	width: 88px;
	height: 88px;
	left: 8px;
	top: 200px;
	list-style: none;
	background: #340b0a;
	border-radius: 50%;
}

.ico3 {
	position: absolute;
	left: 17%;
	right: 75.59%;
	top: 17%;
	bottom: 20.7%;
	height: 60px;
}
.p3 {
	position: absolute;
	width: 197px;
	height: 52px;
	left: 110px;
	top: 220px;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;

	color: #ffffff;
}
.right-box {
	position: absolute;
	width: 299px;
	height: 88px;
	left: 100px;
	top: -400px;
}
.circle-4 {
	position: absolute;
	width: 88px;
	height: 88px;
	left: 8px;
	top: -100px;
	list-style: none;
	background: #340b0a;
	border-radius: 50%;
}
.ico4 {
	position: absolute;
	width: 55px;
	height: 55px;
	left: 16px;
	top: 18px;
}
.p4 {
	position: absolute;
	width: 181px;
	height: 104px;
	left: 115px;
	top: -105px;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;

	color: #ffffff;
}
.circle-5 {
	position: absolute;
	width: 88px;
	height: 88px;
	left: 8px;
	top: 50px;
	list-style: none;
	background: #340b0a;
	border-radius: 50%;
}
.ico5 {
	position: absolute;
	width: 55px;
	height: 55px;

	left: 16px;
	top: 15px;
}
.p5 {
	position: absolute;
	width: 181px;
	height: 104px;
	left: 115px;
	top: 40px;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;

	color: #ffffff;
}
.circle-6 {
	position: absolute;
	width: 88px;
	height: 88px;
	left: 8px;
	top: 200px;
	list-style: none;
	background: #340b0a;
	border-radius: 50%;
}
.ico6 {
	position: absolute;
	left: 20px;
	right: 75.17%;
	top: 23%;
	bottom: 22.12%;
	height: 50px;
}
.p6 {
	position: absolute;
	width: 181px;
	height: 104px;
	left: 115px;
	top: 195px;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;

	color: #ffffff;
}
/* footer */
.footer {
	position: absolute;
	width: 1288px;
	height: 300px;
	left: 0px;
	bottom: 35px;

	background: rgb(2, 10, 43);
}
/* .footer-box {
	position: absolute;
	width: 1195px;
	height: 180px;
	left: 35px;
	top: 80px;
} */
.logo1 {
	position: absolute;
	left: 4px;
	right: 1029px;
	top: 40px;
	color: white;
}
.logo2 {
	height: 51.02px;
	margin-top: 40px;
	margin-left: 20px;
}
.col1 {
	position: absolute;
	width: 178px;
	height: 202px;
	left: 350px;
	top: 60px;
}
.col {
	text-decoration: none;
	padding: 4px;
	font-size: 14px;
	line-height: 45px;
	text-transform: uppercase;
	font-weight: bold;
	list-style: none;
	padding-top: 6px;
	color: rgb(255, 255, 255);
}
.col2 {
	position: absolute;
	width: 178px;
	height: 202px;
	left: 700px;
	top: 60px;
}
.social {
	position: absolute;
	width: 236px;
	height: 50px;
	left: 180%;
	top: 20px;
}
.youtube {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
.facebook {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 65px;
	top: 3px;
}
.insta {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 132px;
	top: 5px;
}
.twitter {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 200px;
	top: 5px;
}
.copy {
	position: absolute;
	width: 160px;
	height: px;
	left: 0px;
	top: 40px;
}
